node_modules/
__pycache__/
*.pyc
*.pyo
*.env
*.env.*
.env
.env.local
*.csv
*.pkl
*.mmdb
*.pcap
*.log
dist/
build/
postgres_data/
redis_data/
kafka_data/
vault_data/
.vscode/
.idea/
*.pem
*.key
kebos-backend/data/
Kebos-main/
